<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="app/config/shared_public/testers/bootstrap/phpunit.php">
    <testsuites>
        <testsuite name="Scribe Cache Bundle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/logs/coverage/"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <server name="KERNEL_DIR" value="./tests/app" />
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
